@import 
url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:wght@100&family=Roboto&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 
url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:wght@100&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about-course{
    font-size: 10px;
    background-color: #EFEFEF;
    padding: 7em  0em  11em  13em;
}

#about-course  h3{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 5.5em;
    font-weight: 700;
}

#about-course  #container{
    background-color: #fff;
    width: 54%;
    margin-top: 6.2em;
    border-radius: 3em;
    padding: 4em  4em  3em  4em;
    box-shadow: 1px 1px 20px 0px #00000040;
}

#para p{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.45em;
}

#container  #image-icon{
    display: flex;
    flex-direction: row;
    margin-top: 4em;
}

#image-icon  img{
    width: 100%;
    margin-left: -2em;
}

#image-icon  #facebook{
    display: flex;
    flex-direction: column;
    margin-left: 1.2em;
}

#facebook  h6{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
    font-weight: 700;
    margin-top: 1.5em;
}

#facebook  a{
    display: block;
    margin-top: 2.5em;
    margin-left: 2em;
}

#facebook  img{
    width: 6%;
}

#facebook img:hover{
    opacity: 50%;
}