@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
#green{
    padding-top: 1.5%;
    padding-bottom: 13%;
    background-color:#9DC9C8 ;
    color: black;
}

.end{
    width: 83%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.end h2, .end .middle, .end .bottom{
    margin-top: 5%;
}

h2{
    font-family: 'Roboto Slab', serif;
    font-size: 5.5rem;
    font-weight: 700;
}

.middle  .first  p{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: -1%;
}

.middle  .second  p{
    font-family: 'Roboto', sans-serif;
    font-size: 8em;
}

.bottom{
    display: flex;
}

.bottom  h6{
    font-family: 'Roboto', sans-serif; 
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 4%;
}

.bottom  p{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Roboto', sans-serif;
}

.left{
    width: 23%;
}

.right{
    width: 23%;
    margin-left: 4.5%;
}

#black{
    background-color: black;
}

.endd{
    display: flex;
    color: #fff;
    justify-content: space-between;
    width: 83%;
    margin: 0 auto;
}

.end-left{
    width: 50%;
}

.end-left{
    width: 50%;
}

.logo #first{
    width: 18%;
    margin-top: 5vh;
    margin-bottom: 3.5vh;
}

.icons{
    margin-bottom: 13vh;
}

.icons  img:first-child{
    width: 2.9vw;
    padding-right: 2%;
}

.icons img:nth-child(2){
    width: 2.9vw;
    padding-right: 2%;
}

.icons img:nth-child(3){
    width: 3.5vw;
    padding-right: 3.5%;
}

.icons img:nth-child(4){
    width: 3vw;
    padding-right: 2%;
}

.copy{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 4vh;
}

.copy p{
    font-size: 1.1vw;
}

.right-top{
    margin-top: 5vh;
    margin-bottom: 1.7vh;
}

.right-top, .right-bottom{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Roboto', sans-serif;
}

.right-top p, .right-bottom p{
    font-size: 1.5vw;
    padding-left: 2vw;
}

.right-top img, .right-bottom img{
    width: 10%;
}

.right-top  img{
    height: 3%;
    margin-top: -1.5%;
}

.right-bottom img{
    margin-top: 0.3vh;
    height: 1.4vw;
}