@media screen and (min-width:992px) and (max-width:1279px)
{
    .container{
        margin: 0 auto;
        width: calc(100% - 144px);
    }
    .img-header{
        position: absolute;
        width: 64.87px;
        height: 38.23px;
        left: 70.08px;
        top: 22px;
    }
    .glob-icon{
        position: absolute;
        width: 12.74px;
        height: 12.16px;
        left: 70.08px;
        top: 116.4px;
            }
    .saat-icon{
        position: absolute;
        width: 12.74px;
        height: 12.74px;
        left: 177.23px;
        top: 115.83px;
            }
    .calendar-icon{
        position: absolute;
        width: 11.58px;
        height: 12.74px;
        left: 270.47px;
        top: 115.83px;
    }
    .glob{
        position: absolute;
        width: 75.29px;
        height: 18.53px;
        left: 87.45px;
        top: 118.14px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
        color: #000000;
    }
    .saat{
        position: absolute;
        width: 75.29px;
        height: 18.53px;
        left: 195.76px;
        top: 118.14px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
        color: #000000;
    }
    .calendar{ 
        position: absolute;
        width: 75.29px;
        height: 18.53px;
        left: 289.58px;
        top: 118.14px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
        color: #000000;
    }
    .section1-h1{
        position: absolute;
        width: 363.72px;
        height: 110.04px;
        left: 70.66px;
        top: 110px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        line-height: 101.38%;
        color: #000000;
    }
    .img-noroot{
        position: absolute;
        width: 176.07px;
        height: 206.18px;
        left: 515.46px;
        top: 138.99px;
    }
    .section1-p{
        position: absolute;
        width: 264px;
        height: 36px;
        left: 71px;
        top: 250px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        /* or 18px */
        color: #000000;
    }

    .blue-box{
        position: absolute;
        width: 280.11px;
        height: 115.83px;
        left: 237.1px;
        top: 395.92px;
        background: #1E4681;
        border-radius: 2.89583px;
    }
    .blue-box-p{
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        /* or 18px */
        color: #FFFFFF;
        margin-left: 20px;
    }
    .blue-box-span{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        /* or 16px */
        text-align: right;
        color: #FFFFFF;
        margin-right: 20px;
    }


}