@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital@0;1&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch+Sans:wght@100;200;300;400;500&display=swap');
*{
    margin: 0;
    padding:0; 
    box-sizing: border-box;
    font-size: 16px;
}
/* Cards Start */
.card_container{
    width: calc(100% - 244px);
    margin: 0 auto;
}

 .cards{
    width: 100%; 
    height: auto;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;

}
.card_info{
    padding-left: 1rem;
    margin-top: 1rem;
}
.card_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 130%;
}
.info{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 130%;
}
li.card{
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    width: 30%;
    height: 320px; 
}
li.card:hover{
    box-shadow: 10px 10px 20px rgba(230, 7, 7, 0.25);
}
.add{
    border: 0;
    width: 30%;
    height: 320px; 
}
.card-list{
    margin: 94px 0 0 0;
    width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

ul li {
    margin: 1%;
}

.section_title h2{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 101.38%;
    margin: 94px 0 0 5%;
}
.card_img{
  width: 100%;
  height: auto;
  vertical-align: middle;
} 
@media screen and (max-width:1400px) {
    .card_container{
        width: calc(100% - 120px);
    }
       
}
@media screen and (min-width: 992px) and (max-width: 1279px){
    .card_container{
        width: calc(100% - 144px);
        margin: 0 auto;
    }
    .card_title{
        font-size: 1.1rem;
    }
    .section_title{
        font-size: 2rem;
    }
    .info{
        font-size: .9rem;
    }
}
 @media screen and (min-width: 320px) and (max-width: 991px){
        .card_container{
            width: calc(100% - 150px);
            margin: 0 auto;
        }
        li.card{
            width: 75%;
            height: auto;
        }
        .card_title{
            font-size: .9rem;
        }
        .section_title{
            font-size: 1.5rem;
        }
        .info{
            font-size: .7rem;
        }
        .add{
            display: none;
        }
        .line{
            display: none;
        }
    } 
@media screen and (min-width: 1400px) {
       .line{
           display: none;
       }
} 
/* Cards End */